In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os

In [21]:
# Define the folder path
folder_path = "../results"

# Get the list of .csv files containing "aoxu" keyword
file_list = [file for file in os.listdir(folder_path) if file.endswith(".csv") and "aoxu" in file]

# Initialize an empty DataFrame to store the data
df_combined = pd.DataFrame()

# Iterate over each file
for file in file_list:
    # Load the .csv file
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path)
    
    # Extract the required columns
    df_selected = df[['molid', 'Score', df.columns[-1]]]
    if 'molid' not in df_combined.columns:
        df_combined = df_selected
    else:
        # Merge the selected data with the combined DataFrame
        df_combined = pd.merge(df_combined, df_selected, on=['molid', 'Score'], how='outer')

# Display the combined DataFrame
df_combined

      molid  Score  aoxu_nnetregCG_1M  aoxu_nnetregCG_500K
0         1 -25.63             -21.60               -22.53
1         2 -23.03             -21.78               -22.52
2         3 -20.79             -21.78               -22.52
3         4 -20.35             -21.78               -22.52
4         5 -18.78             -21.78               -22.52
...     ...    ...                ...                  ...
9995   9996 -10.93             -19.53               -17.85
9996   9997 -13.38             -19.33               -17.84
9997   9998 -13.11             -19.57               -17.51
9998   9999 -22.01             -19.53               -17.85
9999  10000 -18.58             -19.33               -17.84

[10000 rows x 4 columns]

In [22]:
from sklearn.metrics import r2_score, explained_variance_score

# Compute R^2 score
r2 = r2_score(df_combined['Score'], df_combined['aoxu_nnetregCG_500K'])

# Compute Q^2 score
q2 = explained_variance_score(df_combined['Score'], df_combined['aoxu_nnetregCG_500K'])

r2, q2

(-0.1635285634530863, -0.16324710322350477)

In [23]:
from sklearn.metrics import r2_score, explained_variance_score

# Compute R^2 score
r2 = r2_score(df_combined['Score'], df_combined['aoxu_nnetregCG_1M'])

# Compute Q^2 score
q2 = explained_variance_score(df_combined['Score'], df_combined['aoxu_nnetregCG_1M'])

r2, q2

(-0.13735059039629727, -0.05050949567552476)